body{
    background-color: #222;
    overflow: hidden;
    height: 100vh;
    font-family: ubuntu;
}
.alarmContainer{
    width: 30%;
    height: calc(100vh - 40px);
    border: 1px solid wheat;
    background-image: linear-gradient(to bottom right, #FDFCFB, #E2D1C3);
    border-radius: 20px;
    margin-left: 35vw;
    margin-right: 35vw;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-top: 2em;
}
.header{
    height: 10%;
    border-bottom: 2px solid darkgrey;
    border-radius: 12px;
    font-size: 2em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.currentTime{
    height: 15%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    margin: 2%;
    /* border: 1px solid #222; */
}

.alarm{
    position: relative;
    height: calc(100vh - 30%);
    margin-top: 5%;
}
.alarm p{
    font-size: 1.2em;
    margin-left: 0.8em;
}
.alarmListContainer span{
    display: flex;
    justify-content: center;
    margin-top: 30%;
    opacity: 0.6;
}
.alarmListContainer li{
    width: 100%;
    padding-left: 2em;
    border-bottom: 2px solid darkgray;
    border-radius: 12px;    
    margin-top: 0.5em;
}

.alarmListContainer li .alarm-time{
    align-items: center;
    margin-top: 0.2em;
}

.alarmList{
    list-style: none;
    padding: 0;
}

.alarmList .top-section, .bottom-section{
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
    margin-left: -10px;
    margin-bottom: 2px;
    font-size: 1.2em;
    }

.addAlarm{
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}    

.myModal{
    width: fit-content;
    height: fit-content;
}

.modal-body{
    display: flex;
}

.modal-body div, .form-select{
    /* border: 1px solid hotpink; */
    width: fit-content;
    height: fit-content;
    margin: 2.5%;
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap; */
}

.myToast{
    background-image: linear-gradient(to bottom right, #FDFCFB, #E2D1C3);
    font-size: 1em;
}

body{
    background-color: #222;
    overflow: hidden;
    height: 100vh;
    font-family: ubuntu;
}
.alarmContainer{
    width: 30%;
    height: calc(100vh - 40px);
    border: 1px solid wheat;
    background-image: linear-gradient(to bottom right, #FDFCFB, #E2D1C3);
    border-radius: 20px;
    margin-left: 35vw;
    margin-right: 35vw;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-top: 2em;
}
.header{
    height: 10%;
    border-bottom: 2px solid darkgrey;
    border-radius: 12px;
    font-size: 2em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.currentTime{
    height: 15%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    margin: 2%;
    /* border: 1px solid #222; */
}

.alarm{
    position: relative;
    height: calc(100vh - 30%);
    margin-top: 5%;
}
.alarm p{
    font-size: 1.2em;
    margin-left: 0.8em;
}
.alarmListContainer span{
    display: flex;
    justify-content: center;
    margin-top: 30%;
    opacity: 0.6;
}
.alarmListContainer li{
    width: 100%;
    padding-left: 2em;
    border-bottom: 2px solid darkgray;
    border-radius: 12px;    
    margin-top: 0.5em;
}

.alarmListContainer li .alarm-time{
    align-items: center;
    margin-top: 0.2em;
}

.alarmList{
    list-style: none;
    padding: 0;
}

.alarmList .top-section, .bottom-section{
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
    margin-left: -10px;
    margin-bottom: 2px;
    font-size: 1.2em;
    }

.addAlarm{
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}    

.myModal{
    width: fit-content;
    height: fit-content;
}

.modal-body{
    display: flex;
}

.modal-body div, .form-select{
    /* border: 1px solid hotpink; */
    width: fit-content;
    height: fit-content;
    margin: 2.5%;
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap; */
}

.myToast{
    background-image: linear-gradient(to bottom right, #FDFCFB, #E2D1C3);
    font-size: 1em;
}

/* Mobile */
@media screen and (max-width:319px){
    .alarmContainer{
        width: 100%;
        height: calc(100vh - 40px);
        border: 1px solid wheat;
        background-image: linear-gradient(to bottom right, #FDFCFB, #E2D1C3);
        border-radius: 20px;
        margin: 2em 2px 2em 1px;
        position: relative;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        margin-top: 2em;
    }
    .myModal{
        width: 100%;
        height: fit-content;
        margin: 0;
        padding: 1em;
    }
    
    .myToast{
        background-image: linear-gradient(to bottom right, #FDFCFB, #E2D1C3);
        font-size: 1em;
        margin-bottom: 1.2vh;
    }
}

/* Small devices (600px and below) */
@media screen and (min-width: 319px) and (max-width: 479px){
    .alarmContainer{
        width: 100%;
        height: calc(100vh - 40px);
        border: 1px solid wheat;
        background-image: linear-gradient(to bottom right, #FDFCFB, #E2D1C3);
        border-radius: 20px;
        margin: 2em 2px 2em 1px;
        position: relative;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        margin-top: 2em;
    }
    .myModal{
        width: 100%;
        height: fit-content;
        margin: 0;
        padding: 1em;
    }
    
    .myToast{
        background-image: linear-gradient(to bottom right, #FDFCFB, #E2D1C3);
        font-size: 1em;
        margin-bottom: 1.2vh;
    }
}

/* Medium devices (768px and below) */
@media screen and (min-width: 479px) and (max-width: 767px){
    body{
        display: flex;
        justify-content: center;
    }
    .alarmContainer{
        width: 50%;
        height: calc(100vh - 40px);
        border: 1px solid wheat;
        background-image: linear-gradient(to bottom right, #FDFCFB, #E2D1C3);
        border-radius: 20px;
        margin:0;
        position: relative;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        margin-top: 2em;
        margin-bottom: 2em;
    }
    .alarm{
        position: relative;
        height: calc(100vh - 30%);
        margin-top: 5%;
    }
    
    /* .myModal{
        
        width: fit-content;
        height: fit-content;
    } */
    
    .myModal{
        width: fit-content;
        height: fit-content;
        margin-left: 28vw;
        padding: 1em;
    }
    
    .myToast{
        background-image: linear-gradient(to bottom right, #FDFCFB, #E2D1C3);
        font-size: 1em;
        margin-bottom: 1.2vh;
    }
}
